.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @include breakpoint-up(medium) {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  &__logo {
    width: 7.25rem;

    @include breakpoint-up(medium) {
      width: 13.25rem;
    }
  }

  &__button {
    color: $pink;
    box-shadow: none;
    font-weight: 400;
    font-size: 0.75rem;
    background: white;
    border-radius: 1.2rem;
    letter-spacing: normal;
    border: 1px solid $pink;
    padding: 0.25rem 1.25rem;
    
    &::before {
      border-radius: 1.2rem;
    }

    @include breakpoint-up(medium) {
      font-size: 0.9375rem;
      padding: 0.5rem 1.75rem;
    }
  }
}
